.box p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.navbar{
  background-color: #3C415C;
  color:white;
}

.temp{
 /* background-color: #301B3F; */
  color:#B4A5A5;

}

.home-body {
    /* background: linear-gradient(-45deg, #009f38, #009e44, #0b9395,#009e9b); */
    background-color: #151515;
    background-size: 400% 400%;
    animation: gradient;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    height:90vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

   